[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/EASTL"]
	path = lib/EASTL
	url = git://github.com/electronicarts/EASTL
[submodule "lib\\emsdk"]
	path = lib\\emsdk
	url = https://github.com/emscripten-core/emsdk.git
